#h1{
    margin-left: 600px;
}

@media screen and (max-width:600px) {
    #h{
        font-size: 26px;
        margin-left: 100px;
    }
        #orderdiv{
        text-align: left;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
    }
    #p1{
        margin-top: 20px;
        box-shadow: 0 0 2px black;
        width: 300px;
        height: max-content;
        margin-left: 10px;
        text-align: center;
        
    }
    #gopal,#subash{
        margin-top: 20px;
        margin-left: 130px;
        width: 200px;
      

    }
    #info2,#info3{
        
        box-shadow: 0 0 3px black;
        text-transform: uppercase;
        height: max-content;
        letter-spacing: 2px;
    }

}
@media screen and (min-width:600px){
    #h{
        font-size: 40px;
        color: red;
    }
        #orderdiv{
        text-align: left;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    #p1{
        margin-top: 20px;
        box-shadow: 0 0 2px black;
        width: 300px;
        height: max-content;
        margin-left: 50px;
        text-align: center;
        
    }
    #gopal{
        margin-left: 200px;
    }
}
@media screen and (min-width:748px) {
    #h{
        font-size: 45px;
         margin-left: 50px;
         color: blue;
    }
      #orderdiv{
        text-align: left;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
    }
    #p1{
        margin-top: 20px;
        box-shadow: 0 0 2px black;
        width: 300px;
        height: max-content;
        margin-left: 150px;
        text-align: center;
        
    }
    #gopal,#subash{
        margin-left: 600px;
    }
    #info2,#info3{
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}
@media screen and (min-width:1024px) {
    #h{
        font-size: 60px;
         margin-left: 500px;
         color: rgb(255, 0, 183);
    }
    #orderdiv{
        text-align: left;
        justify-content: center;
        align-items: center;
        margin-left: 550px;
    }
    #p1{
        margin-top: 20px;
        box-shadow: 0 0 2px black;
        width: 300px;
        height: max-content;
        margin-left: 500px;
        text-align: center;
        
    }

}
#inputbase{
    width: 198px;
    height: 30px;
    display: flex;
    box-shadow: 0 0 2px black;
    border: none;
    border-radius: 3px;
}
#input1,#searchbtn{
    border: none;
    background: transparent;
}